.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

.menu {
    position: relative;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 1px 0;
}